div.footer
{
	background-color: #e2e2e2;
    position:fixed;
    height:30px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    line-height: 30px;
    text-align: center;
}
body
{
	margin-bottom: 30px;
}