#article_page {
	background-color: white;
}


#refrence {
	color: #8a8a8a;
}

#cmnt {
	border: 1px solid #8a8a8a;
}

input[type=text] {
	border: 1px solid #9e9e9e;
	border-radius: 3px;
	height: 60px;
	padding-left: 10px;
}

#article_img {
	width: 40px;
	height:40px;
}

#article_name {
	font-size: 15px;
}

#article_date {
	font-size: 12px;
}

@media only screen and (min-width: 500px) {
	
	#article_img {
		width: 60px;
		height:60px;
	}

	#article_name {
		font-size: 20px;
	}

	#article_date {
		font-size: 15px;
	}
}

@media only screen and (max-width: 500px) {

	#rating_mobile {
		padding-top: 15px;
	}

	#no_rating {
		font-size: 15px;
	}

	.rating_text {
		font-size: 16px;
	}

	.rating_no {
		font-size: 15px;
	}

	#login_to_rate {
		font-size: 12px;
	}
}

#raters_details {
	position: absolute;
	background-color: whitesmoke;
	border: 1px solid grey;
	padding: 10px;
	border-radius: 5px;
	margin-left: 160px;
	margin-top: -15px;
}