#no_article_text {
	font-size: 15px;
	color: green;
}

#no_article_subtext {
	font-size: 13px;
	color: #C9C9C9;
}

#remaining_categories_style {
	font-size: large;
}

#remaining_categories_style:hover {
	background-color: darkgreen;
}

#raw_content {
	color: #333333 !important;
}

#recent_articles {
	color: #797979;
}

#home_bg {
	height: 200px;
	width: 100%;
}

#login_btn {
	top: 120px;
    left: 10px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    vertical-align: center;
}

#card_img {
	width: 35px;
	height: 35px;
}

#card_name {
	font-size: 14px;
}

#card_date {
	font-size: 10px;
}

#card_title {
	font-weight: 300;
	font-size: 23px;
}

@media only screen and (min-width: 500px) {
	
	#home_bg {
		width: 100%;
		height: 600px;
	}

	#login_btn {
		top: 380px;
    	left: 180px;
    	width: 150px;
    	height: 35px;
    	font-size: 16px;
    	vertical-align: center;
	}

	#card_img {
		width: 45px;
		height: 45px;
	}

	#card_name {
		font-size: 16px;
	}

	#card_date {
		font-size: 14px;
	}

	#card_title {
		font-weight: 300;
		font-size: 30px;
	}

	#no_article_text {
		font-size: 24px;
		color: green;
	}

	#no_article_subtext {
		font-size: 16px;
		color: #C9C9C9;
	}
}
