#leader {
	width: 100%;
}

#rules {
	width: 60%;
}

#rules_list {
	font-size: 18px;
}

@media only screen and (max-width: 500px) {

	#leader {
		width: 100%;
	}

	#rules {
		width: 70%;
	}

	#rules_list {
		font-size: 14px;
	}
}